feedback,email,sms.txt
[{"id":"39460c42.193154","type":"twilio-api","sid":"AC72445ef59a3bf9b2d6e4f93e9d42e2d4","from":"+12544884385","name":"twilio"},{"id":"3c5e80b6.69bdd","type":"mqtt-broker","broker":"128.199.203.59","port":"1883","clientid":""},{"id":"83ecf7c3.590a28","type":"comment","name":"feedback","info":"Form URL ->  http://bit.ly/1AtmUje\n\nTo send confirmation notification","x":90,"y":69,"z":"9a27d76a.f25ef","wires":[]},{"id":"81d15001.86d4e","type":"mqtt in","name":"Input Node","topic":"bizihive/5544d8f7252e898b3b8b4567","broker":"3c5e80b6.69bdd","x":133,"y":167,"z":"9a27d76a.f25ef","wires":[["e095d45f.5ed75","2cbb92a5.a2ed3e"]]},{"id":"4890359.107144c","type":"debug","name":"email","active":false,"console":"false","complete":"payload.data.Email address","x":650,"y":96,"z":"9a27d76a.f25ef","wires":[]},{"id":"e095d45f.5ed75","type":"debug","name":"","active":false,"console":"false","complete":"payload","x":410,"y":38,"z":"9a27d76a.f25ef","wires":[]},{"id":"2cbb92a5.a2ed3e","type":"function","name":"Inflow variable update","func":"msg.payload=JSON.parse(msg.payload);\nmsg.to=msg.payload.data['Email address'];\nmsg.name=msg.payload.data['Full Name'];\nmsg.topic=\"+91\"+msg.payload.data.Phone.slice(-10);\nmsg.tocall=msg.payload.data['Do you want us to contact you?'];\nreturn msg;","outputs":1,"valid":true,"x":237,"y":272,"z":"9a27d76a.f25ef","wires":[["505c72e2.50c1bc","b6229cc6.6223a"]]},{"id":"919ada04.fc6398","type":"debug","name":"","active":false,"console":"false","complete":"true","x":658,"y":161,"z":"9a27d76a.f25ef","wires":[]},{"id":"3a12c8a6.c2314","type":"template","name":"Email Body","field":"payload","format":"handlebars","template":"Hi {{name}},\n\nThanks for your feedback\n\nRegards,\nBizician Support","x":475,"y":150,"z":"9a27d76a.f25ef","wires":[["919ada04.fc6398","ead6e6f.dc10c98","4890359.107144c"]]},{"id":"ead6e6f.dc10c98","type":"e-mail","server":"smtp.gmail.com","port":"465","name":"","dname":"","x":665,"y":222,"z":"9a27d76a.f25ef","wires":[]},{"id":"8ab98e4c.0f95b8","type":"twilio out","twilio":"39460c42.193154","twilioType":"sms","url":"","number":"","name":"SMS","x":576,"y":369,"z":"9a27d76a.f25ef","wires":[]},{"id":"505c72e2.50c1bc","type":"template","name":"Email Body","field":"payload","format":"handlebars","template":"Thanks {{name}} for your feedback, Bizician Team","x":393,"y":343,"z":"9a27d76a.f25ef","wires":[["8ab98e4c.0f95b8","ffeded38.5ac32"]]},{"id":"b6229cc6.6223a","type":"change","name":"","rules":[{"t":"set","p":"topic","to":"Bizician Feedback Form"}],"action":"","property":"","from":"","to":"","reg":false,"x":463,"y":215,"z":"9a27d76a.f25ef","wires":[["3a12c8a6.c2314"]]},{"id":"ce00a04f.dc87e","type":"twilio out","twilio":"39460c42.193154","twilioType":"call","url":"http://128.199.203.59/test.xml","number":"","name":"Call","x":576,"y":465,"z":"9a27d76a.f25ef","wires":[]},{"id":"ffeded38.5ac32","type":"switch","name":"","property":"tocall","rules":[{"t":"eq","v":"Yes"}],"checkall":"true","outputs":1,"x":403,"y":465,"z":"9a27d76a.f25ef","wires":[["ce00a04f.dc87e","7fc16479.3d898c"]]},{"id":"7fc16479.3d898c","type":"debug","name":"","active":true,"console":"false","complete":"true","x":607,"y":518,"z":"9a27d76a.f25ef","wires":[]}]